.btn {
    color: $accent-color;
    display: inline-block;
    font-weight: $font-normal;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 11px 16px;
    font-size: 16px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.btn--primary {
    background-color: #39ee00;
    &:hover {
        background-color: $hover-color;
    }
}

.btn--block {
    display: block;
    width: 100%;
}

.btn--flex {
    display: flex;
    align-items: center;
}

.btn--icon {
    margin-right: 15px;
    line-height: 0.5;
}

.btn--text {
    font-size: 16px;
    font-weight: $font-medium;
    line-height: 1;
    letter-spacing: 0.4px;
    text-align: center;
    color: #000000;
}

.btn--sm--100 {
    @include media(max-width 767px) {
        width: 100%;
        justify-content: center;
    }
}