// Color Variables

$brand-color: #06ed06;
$accent-color: #202a3c;
$text-color: #7787a3;
$title-color: #202a3c;
$grey: #9fa3a7;
$highlight: #32425e;
$light-grey: #e2e2e2;
$very-light-grey: #cacaca;


$links: $brand-color;
$button: $brand-color;
$border-color: $light-grey;
$muted-color: $very-light-grey;
$hover-color: lighten(#06ed06, 18%);

